*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#0f172a;
    color:white;
}

/* Navigation */

header{
    width:100%;
    position:fixed;
    top:0;
    background:#111827;
    z-index:1000;
    box-shadow:0 2px 15px rgba(0,0,0,.3);
}

nav{
    width:90%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    color:#38bdf8;
    font-size:30px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li{
    margin-left:25px;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:500;
    transition:.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

/* Hero Section */

.hero{
    width:90%;
    margin:auto;
    min-height:100vh;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-top:100px;
}

.hero-text{
    width:55%;
}

.hero-text h1{
    font-size:35px;
    color:#94a3b8;
}

.hero-text h2{
    font-size:60px;
    color:#38bdf8;
}

.hero-text h3{
    margin:20px 0;
    font-size:28px;
}

.hero-text p{
    line-height:30px;
    color:#cbd5e1;
}

button{
    margin-top:30px;
    padding:14px 28px;
    background:#38bdf8;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
    transition:.3s;
}

button:hover{
    transform:translateY(-4px);
    background:#0ea5e9;
}

/* Profile Image */

.hero-image{
    width:40%;
    display:flex;
    justify-content:center;
}

.hero-image img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:6px solid #38bdf8;
    box-shadow:0 0 40px rgba(56,189,248,.5);
}
